h1 {
    font-family: 'Helvetica Bold';
    font-weight: 500;
}

.homeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.header {
    width: 50%;
}

.boxRooms {
    width: 50%;
    margin-top: 50px;
    height: 500px;
    border: 2px solid #2E344D;
    border-radius: 26px;
}